extends layout

block content
  h2= title

  form(method='POST')
    div.form-group
      label(for="name") #[strong Name: ]
      input#name(type="text" name='name' required placeholder='Name of category' value=(undefined===category ? '' : category.name))
      if category
        input(type="hidden" name='categoryid' value=category._id)
    button.btn-submit(type='submit') Submit
  
  if errors
    ul.errors
      for error in errors
        li!= error.msg