extends layout 

block content 
  h2 #{title}: #{item.name}
  p #{item.description}
  
  p Are you sure you want to delete this item?

  form(method='post')
    input#itemid(type="hidden" name='itemid' value=item._id)
    button.btn-submit(type='submit') Delete