* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: rgb(176, 212, 176);
}

.main {
  display: flex;
  width: 100vw;
  height: 92vh;
}

.sidebar-nav {
  font-size: 1.1rem;
  width: 190px;
  padding: 3vh 16px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

li {
  list-style: none;
}

a:link,
a:visited {
  color: blue;
  text-decoration: none;
}

a:active {
  color: purple;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 32px;
  width: calc(100vw - 195px);
}

.home-categories {
  margin-left: 32px;
}
