* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 100vh;
  font-size: 1.1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  min-height: 50px;
  height: 8vh;
  padding: 0 8px;
  background-color: rgb(176, 212, 176);
  border-bottom: 1px solid lightgray;
}

.header img {
  height: 40px;
}

.main {
  display: flex;
  flex-grow: 1;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 25vw;
  max-width: 250px;
  padding: 6vw 32px;
  border-right: 1px solid lightgray;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 4vw 5vw;
  width: 75vw;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(176, 212, 176, 0.5);
  border-top: 1px solid lightgray;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
}

li {
  list-style: none;
}

a:link,
a:visited {
  color: rgb(99, 85, 77);
  text-decoration: none;
}

.link:link,
.link:visited {
  display: flex;
  align-items: center;
  gap: 2vw;
  color: black;
}

.wrapable {
  flex-direction: row;
  flex-wrap: wrap;
}

.clickable a {
  border: 1px solid gray;
  padding: 16px;
  border-radius: 8px;
  transition: transform 0.2s;
  transform: scale(1);
}

.clickable a:hover {
  background-color: rgb(250, 250, 250);
  transition: transform 0.2s, box-shadow 0.3s;
  transform: scale(1.1);
  box-shadow: 3px 3px 3px 1px rgba(211, 211, 211, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: flex-start;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

input[type='text'],
input[type='number'],
#description {
  padding: 8px;
}

input[type='text'],
#description {
  width: 50vw;
}

#description {
  height: 15vh;
}

.description {
  white-space: pre-wrap;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

button {
  padding: 8px;
}

.btn-submit {
  margin-top: 50px;
  margin-left: 15vw;
  width: 200px;
  height: 50px;
  font-size: 1.1rem;
}

.errors {
  color: red;
}

.m-l-16 {
  margin-left: 16px;
}

.item-list-item {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 8px;
  width: 60vw;
  min-width: min-content;
  max-width: 600px;
}
