* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 100vh;
  font-size: 1.1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  min-height: 50px;
  height: 8vh;
  padding: 0 8px;
  background-color: rgb(176, 212, 176);
  border-bottom: 1px solid lightgray;
}

.header img {
  height: 40px;
}

.main {
  display: flex;
  flex-grow: 1;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 6vw 32px;
  border-right: 1px solid lightgray;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 4vw 5vw;
  width: calc(100vw - 300px);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(176, 212, 176, 0.5);
  border-top: 1px solid lightgray;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

li {
  list-style: none;
}

a:link,
a:visited {
  color: blue;
  text-decoration: none;
}

a:active {
  color: purple;
}

a:hover {
  text-decoration: underline;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.header-link:link {
  color: black;
}

.header-link:visited {
  color: black;
}

.header-link:hover {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: flex-start;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

input[type='text'],
input[type='number'],
#description {
  padding: 8px;
}

input[type='text'],
#description {
  width: 50vw;
}

#description {
  height: 15vh;
}

.description {
  white-space: pre-wrap;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

button {
  padding: 8px;
}

.btn-submit {
  margin-top: 50px;
  margin-left: 15vw;
  width: 200px;
  height: 50px;
  font-size: 1.1rem;
}

.errors {
  color: red;
}

.m-l-16 {
  margin-left: 16px;
}

.item-list-item {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
